[Unit]
Description=Bootstrap Salt
After=vboxadd.target network.target

[Service]
Type=forking
ExecStart=/usr/local/minion-setup
RemainAfterExit=True
StandardOutput=journal

[Install]
WantedBy=multi-user.target
